[package]
name = "cmac"
version = "0.2.0"
authors = ["RustCrypto Developers"]
license = "MIT/Apache-2.0"
description = "Generic implementation of Cipher-based Message Authentication Code"
documentation = "https://docs.rs/cmac"
repository = "https://github.com/RustCrypto/MACs"
keywords = ["crypto", "mac", "cmac", "omac"]
categories = ["cryptography", "no-std"]

[dependencies]
crypto-mac = "0.7"
block-cipher-trait = "0.6"
dbl = "0.2"

[dev-dependencies]
crypto-mac = { version = "0.7", features = ["dev"] }
aes = "0.3"
