[package]
name = "pmac"
version = "0.4.0"
description = "Generic implementation of Parallelizable Message Authentication Code"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/pmac"
repository = "https://github.com/RustCrypto/MACs"
keywords = ["crypto", "mac", "pmac"]
categories = ["cryptography", "no-std"]
readme = "README.md"
edition = "2018"

[dependencies]
crypto-mac = { version = "0.9", features = ["block-cipher"] }
block-cipher = "0.8"
dbl = "0.3"

[dev-dependencies]
crypto-mac = { version = "0.9", features = ["dev"] }
aes = "0.5"

[features]
std = ["crypto-mac/std"]
