[package]
name = "cbc-mac"
version = "0.1.0" # Also update html_root_url in lib.rs when bumping this
description = "Implementation of Cipher Block Chaining Message Authentication Code (CBC-MAC)"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.56"
readme = "README.md"
documentation = "https://docs.rs/cbc-mac"
repository = "https://github.com/RustCrypto/MACs"
keywords = ["crypto", "mac", "daa"]

[dependencies]
digest = { version = "0.10.3", features = ["mac"] }
cipher = "0.4.2"

[dev-dependencies]
aes = "0.8"
des = "0.8"
digest = { version = "0.10.3", features = ["dev"] }
hex-literal = "0.3"

[features]
std = ["digest/std"]
zeroize = ["cipher/zeroize"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
